.title {
  text-align: center;
}

.register-form {
  width: 350px;
  height: 370px;
  margin: 20px auto 100px auto;
  background: #fff;
  border: 1px solid lightgray;

  .logo {
    display: block;
    width: 70px;
    padding: 20px 0px 10px 0;
    margin: 0 auto;
  }

  label {
    display: block;
  }
  // honeypot
  .password2 {
    display: none;
  }

  .input-container {
    position: relative;

    .email,
    .password {
      display: block;
      width: 200px;
      padding: 8px 15px;
      margin: 20px auto;
      background: rgb(250, 250, 250);
      border: 1px solid rgb(219, 219, 219);
      border-radius: 3px;
      font-size: 15px;
    }

    .password {
    }

    .error-form {
      position: absolute;
      bottom: -18px;
      left: 80px;
      color: red;
      font-size: 14px;
    }
  }

  .submit-button {
    display: block;
    width: 200px;
    margin: 50px auto 0px auto;
    padding: 8px 10px;
    border: none;
    background: #3897f0;
    cursor: pointer;
    outline: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    border-radius: 3px;
  }

  .login-link {
    display: block;
    margin: 0 auto;
    width: 102px;
    padding: 30px 0 0 0;
    text-decoration: none;
    font-size: 13px;
  }

  // .google-captcha {
  //   width: 300px;
  //   margin: 30px auto 0 autoz;
  // }
}

.base-info-list {
  max-width: 100vw;
}
