.purchase-form-container {
  .form-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    min-height: 290px;
    margin: 0 auto;
    padding: 25px;
    box-shadow: #212a35 0px 0px 2px;
    // border: 1px solid #094585;
    // border-right: none;
    // border-left: none;
    background: #fff;

    .stripe-icon-container {
      position: absolute;
      top: 10px;
      left: 30px;
      svg {
        color: #646fdf;
        font-size: 60px;
      }
    }

    .accepted-cards {
      position: absolute;
      top: 30px;
      right: 30px;
      width: 150px;
      img {
        width: 100%;
        height: auto;
      }
    }
    .checkout-info {
      padding-top: 65px;
      padding-bottom: 30px;
      text-transform: capitalize;
      font-size: 30px;
      font-style: italic;
      color: #2f3233;
      font-weight: 100;
    }

    .form-element {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-top: 40px;
      height: 150px;

      .btn-container {
        display: flex;
        justify-content: center;

        .disabled {
          pointer-events: none;
          background: #8cb5e2;
          box-shadow: 0 -3px 0 0 #5ba2ef inset;
        }
      }
    }
  }
}
